body {
  background: radial-gradient(circle, #24246e, #06051f);
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}
body:active div,
body:active div::before,
body:active div::after {
  padding: 40px;
}

div,
div::before,
div::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  -webkit-transform-origin: top;
          transform-origin: top;
  transition: all 5s linear 0s;
}

.purple {
  -webkit-animation: purple linear 30s alternate infinite;
          animation: purple linear 30s alternate infinite;
  border: 2px solid #241379;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  -webkit-transform: translate3d(72vw, 53vh, 0);
          transform: translate3d(72vw, 53vh, 0);
  z-index: 6;
}

.purple::before {
  -webkit-animation: purple-pseudo linear 15s alternate infinite;
          animation: purple-pseudo linear 15s alternate infinite;
  background: #241379;
  border: 2px solid #241379;
  width: 5px;
  height: 25px;
  -webkit-transform: translate3d(-26vw, -42vh, 0) rotate(104deg);
          transform: translate3d(-26vw, -42vh, 0) rotate(104deg);
}

.purple::after {
  -webkit-animation: purple-pseudo linear 20s alternate infinite;
          animation: purple-pseudo linear 20s alternate infinite;
  border: 2px solid #241379;
  width: 41px;
  height: 10px;
  -webkit-transform: translate3d(2vw, -37vh, 0) rotate(41deg);
          transform: translate3d(2vw, -37vh, 0) rotate(41deg);
}

@-webkit-keyframes purple {
  50% {
    -webkit-transform: translate3d(2vw, 96vh, 0);
            transform: translate3d(2vw, 96vh, 0);
  }
  100% {
    -webkit-transform: translate3d(24vw, 29vh, 0);
            transform: translate3d(24vw, 29vh, 0);
  }
}

@keyframes purple {
  50% {
    -webkit-transform: translate3d(2vw, 96vh, 0);
            transform: translate3d(2vw, 96vh, 0);
  }
  100% {
    -webkit-transform: translate3d(24vw, 29vh, 0);
            transform: translate3d(24vw, 29vh, 0);
  }
}
@-webkit-keyframes purple-pseudo {
  33% {
    -webkit-transform: translate3d(74vw, -65vh, 0) rotate(276deg);
            transform: translate3d(74vw, -65vh, 0) rotate(276deg);
  }
  100% {
    -webkit-transform: translate3d(29vw, 29vh, 0) rotate(22deg);
            transform: translate3d(29vw, 29vh, 0) rotate(22deg);
  }
}
@keyframes purple-pseudo {
  33% {
    -webkit-transform: translate3d(74vw, -65vh, 0) rotate(276deg);
            transform: translate3d(74vw, -65vh, 0) rotate(276deg);
  }
  100% {
    -webkit-transform: translate3d(29vw, 29vh, 0) rotate(22deg);
            transform: translate3d(29vw, 29vh, 0) rotate(22deg);
  }
}
.medium-blue {
  -webkit-animation: medium-blue linear 30s alternate infinite;
          animation: medium-blue linear 30s alternate infinite;
  border: 2px solid #2185bf;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  -webkit-transform: translate3d(77vw, 18vh, 0);
          transform: translate3d(77vw, 18vh, 0);
  z-index: 6;
}

.medium-blue::before {
  -webkit-animation: medium-blue-pseudo linear 15s alternate infinite;
          animation: medium-blue-pseudo linear 15s alternate infinite;
  background: #2185bf;
  border: 2px solid #2185bf;
  width: 38px;
  height: 6px;
  -webkit-transform: translate3d(-14vw, -4vh, 0) rotate(319deg);
          transform: translate3d(-14vw, -4vh, 0) rotate(319deg);
}

.medium-blue::after {
  -webkit-animation: medium-blue-pseudo linear 20s alternate infinite;
          animation: medium-blue-pseudo linear 20s alternate infinite;
  border: 2px solid #2185bf;
  width: 18px;
  height: 31px;
  -webkit-transform: translate3d(-74vw, -14vh, 0) rotate(262deg);
          transform: translate3d(-74vw, -14vh, 0) rotate(262deg);
}

@-webkit-keyframes medium-blue {
  50% {
    -webkit-transform: translate3d(62vw, 47vh, 0);
            transform: translate3d(62vw, 47vh, 0);
  }
  100% {
    -webkit-transform: translate3d(74vw, 70vh, 0);
            transform: translate3d(74vw, 70vh, 0);
  }
}

@keyframes medium-blue {
  50% {
    -webkit-transform: translate3d(62vw, 47vh, 0);
            transform: translate3d(62vw, 47vh, 0);
  }
  100% {
    -webkit-transform: translate3d(74vw, 70vh, 0);
            transform: translate3d(74vw, 70vh, 0);
  }
}
@-webkit-keyframes medium-blue-pseudo {
  33% {
    -webkit-transform: translate3d(-32vw, 34vh, 0) rotate(155deg);
            transform: translate3d(-32vw, 34vh, 0) rotate(155deg);
  }
  100% {
    -webkit-transform: translate3d(10vw, -64vh, 0) rotate(219deg);
            transform: translate3d(10vw, -64vh, 0) rotate(219deg);
  }
}
@keyframes medium-blue-pseudo {
  33% {
    -webkit-transform: translate3d(-32vw, 34vh, 0) rotate(155deg);
            transform: translate3d(-32vw, 34vh, 0) rotate(155deg);
  }
  100% {
    -webkit-transform: translate3d(10vw, -64vh, 0) rotate(219deg);
            transform: translate3d(10vw, -64vh, 0) rotate(219deg);
  }
}
.light-blue {
  -webkit-animation: light-blue linear 30s alternate infinite;
          animation: light-blue linear 30s alternate infinite;
  border: 2px solid #1fbce1;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  -webkit-transform: translate3d(63vw, 46vh, 0);
          transform: translate3d(63vw, 46vh, 0);
  z-index: 8;
}

.light-blue::before {
  -webkit-animation: light-blue-pseudo linear 15s alternate infinite;
          animation: light-blue-pseudo linear 15s alternate infinite;
  background: #1fbce1;
  border: 2px solid #1fbce1;
  width: 40px;
  height: 23px;
  -webkit-transform: translate3d(-13vw, 13vh, 0) rotate(131deg);
          transform: translate3d(-13vw, 13vh, 0) rotate(131deg);
}

.light-blue::after {
  -webkit-animation: light-blue-pseudo linear 20s alternate infinite;
          animation: light-blue-pseudo linear 20s alternate infinite;
  border: 2px solid #1fbce1;
  width: 23px;
  height: 28px;
  -webkit-transform: translate3d(4vw, -9vh, 0) rotate(354deg);
          transform: translate3d(4vw, -9vh, 0) rotate(354deg);
}

@-webkit-keyframes light-blue {
  50% {
    -webkit-transform: translate3d(55vw, 56vh, 0);
            transform: translate3d(55vw, 56vh, 0);
  }
  100% {
    -webkit-transform: translate3d(88vw, 32vh, 0);
            transform: translate3d(88vw, 32vh, 0);
  }
}

@keyframes light-blue {
  50% {
    -webkit-transform: translate3d(55vw, 56vh, 0);
            transform: translate3d(55vw, 56vh, 0);
  }
  100% {
    -webkit-transform: translate3d(88vw, 32vh, 0);
            transform: translate3d(88vw, 32vh, 0);
  }
}
@-webkit-keyframes light-blue-pseudo {
  33% {
    -webkit-transform: translate3d(42vw, 15vh, 0) rotate(217deg);
            transform: translate3d(42vw, 15vh, 0) rotate(217deg);
  }
  100% {
    -webkit-transform: translate3d(-61vw, 14vh, 0) rotate(232deg);
            transform: translate3d(-61vw, 14vh, 0) rotate(232deg);
  }
}
@keyframes light-blue-pseudo {
  33% {
    -webkit-transform: translate3d(42vw, 15vh, 0) rotate(217deg);
            transform: translate3d(42vw, 15vh, 0) rotate(217deg);
  }
  100% {
    -webkit-transform: translate3d(-61vw, 14vh, 0) rotate(232deg);
            transform: translate3d(-61vw, 14vh, 0) rotate(232deg);
  }
}
.red {
  -webkit-animation: red linear 30s alternate infinite;
          animation: red linear 30s alternate infinite;
  border: 2px solid #b62f56;
  border-radius: 100%;
  width: 13px;
  height: 13px;
  -webkit-transform: translate3d(83vw, 79vh, 0);
          transform: translate3d(83vw, 79vh, 0);
  z-index: 2;
}

.red::before {
  -webkit-animation: red-pseudo linear 15s alternate infinite;
          animation: red-pseudo linear 15s alternate infinite;
  background: #b62f56;
  border: 2px solid #b62f56;
  width: 13px;
  height: 47px;
  -webkit-transform: translate3d(-7vw, 2vh, 0) rotate(306deg);
          transform: translate3d(-7vw, 2vh, 0) rotate(306deg);
}

.red::after {
  -webkit-animation: red-pseudo linear 20s alternate infinite;
          animation: red-pseudo linear 20s alternate infinite;
  border: 2px solid #b62f56;
  width: 18px;
  height: 45px;
  -webkit-transform: translate3d(-60vw, -22vh, 0) rotate(267deg);
          transform: translate3d(-60vw, -22vh, 0) rotate(267deg);
}

@-webkit-keyframes red {
  50% {
    -webkit-transform: translate3d(95vw, 78vh, 0);
            transform: translate3d(95vw, 78vh, 0);
  }
  100% {
    -webkit-transform: translate3d(63vw, 72vh, 0);
            transform: translate3d(63vw, 72vh, 0);
  }
}

@keyframes red {
  50% {
    -webkit-transform: translate3d(95vw, 78vh, 0);
            transform: translate3d(95vw, 78vh, 0);
  }
  100% {
    -webkit-transform: translate3d(63vw, 72vh, 0);
            transform: translate3d(63vw, 72vh, 0);
  }
}
@-webkit-keyframes red-pseudo {
  33% {
    -webkit-transform: translate3d(-21vw, -4vh, 0) rotate(254deg);
            transform: translate3d(-21vw, -4vh, 0) rotate(254deg);
  }
  100% {
    -webkit-transform: translate3d(-53vw, 23vh, 0) rotate(314deg);
            transform: translate3d(-53vw, 23vh, 0) rotate(314deg);
  }
}
@keyframes red-pseudo {
  33% {
    -webkit-transform: translate3d(-21vw, -4vh, 0) rotate(254deg);
            transform: translate3d(-21vw, -4vh, 0) rotate(254deg);
  }
  100% {
    -webkit-transform: translate3d(-53vw, 23vh, 0) rotate(314deg);
            transform: translate3d(-53vw, 23vh, 0) rotate(314deg);
  }
}
.orange {
  -webkit-animation: orange linear 30s alternate infinite;
          animation: orange linear 30s alternate infinite;
  border: 2px solid #d5764c;
  border-radius: 100%;
  width: 17px;
  height: 17px;
  -webkit-transform: translate3d(4vw, 47vh, 0);
          transform: translate3d(4vw, 47vh, 0);
  z-index: 4;
}

.orange::before {
  -webkit-animation: orange-pseudo linear 15s alternate infinite;
          animation: orange-pseudo linear 15s alternate infinite;
  background: #d5764c;
  border: 2px solid #d5764c;
  width: 7px;
  height: 29px;
  -webkit-transform: translate3d(94vw, -24vh, 0) rotate(343deg);
          transform: translate3d(94vw, -24vh, 0) rotate(343deg);
}

.orange::after {
  -webkit-animation: orange-pseudo linear 20s alternate infinite;
          animation: orange-pseudo linear 20s alternate infinite;
  border: 2px solid #d5764c;
  width: 49px;
  height: 15px;
  -webkit-transform: translate3d(77vw, 28vh, 0) rotate(284deg);
          transform: translate3d(77vw, 28vh, 0) rotate(284deg);
}

@-webkit-keyframes orange {
  50% {
    -webkit-transform: translate3d(87vw, 97vh, 0);
            transform: translate3d(87vw, 97vh, 0);
  }
  100% {
    -webkit-transform: translate3d(16vw, 89vh, 0);
            transform: translate3d(16vw, 89vh, 0);
  }
}

@keyframes orange {
  50% {
    -webkit-transform: translate3d(87vw, 97vh, 0);
            transform: translate3d(87vw, 97vh, 0);
  }
  100% {
    -webkit-transform: translate3d(16vw, 89vh, 0);
            transform: translate3d(16vw, 89vh, 0);
  }
}
@-webkit-keyframes orange-pseudo {
  33% {
    -webkit-transform: translate3d(-72vw, -53vh, 0) rotate(257deg);
            transform: translate3d(-72vw, -53vh, 0) rotate(257deg);
  }
  100% {
    -webkit-transform: translate3d(81vw, -65vh, 0) rotate(326deg);
            transform: translate3d(81vw, -65vh, 0) rotate(326deg);
  }
}
@keyframes orange-pseudo {
  33% {
    -webkit-transform: translate3d(-72vw, -53vh, 0) rotate(257deg);
            transform: translate3d(-72vw, -53vh, 0) rotate(257deg);
  }
  100% {
    -webkit-transform: translate3d(81vw, -65vh, 0) rotate(326deg);
            transform: translate3d(81vw, -65vh, 0) rotate(326deg);
  }
}
.yellow {
  -webkit-animation: yellow linear 30s alternate infinite;
          animation: yellow linear 30s alternate infinite;
  border: 2px solid #ffd53e;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  -webkit-transform: translate3d(43vw, 60vh, 0);
          transform: translate3d(43vw, 60vh, 0);
  z-index: 2;
}

.yellow::before {
  -webkit-animation: yellow-pseudo linear 15s alternate infinite;
          animation: yellow-pseudo linear 15s alternate infinite;
  background: #ffd53e;
  border: 2px solid #ffd53e;
  width: 42px;
  height: 37px;
  -webkit-transform: translate3d(-3vw, 3vh, 0) rotate(1deg);
          transform: translate3d(-3vw, 3vh, 0) rotate(1deg);
}

.yellow::after {
  -webkit-animation: yellow-pseudo linear 20s alternate infinite;
          animation: yellow-pseudo linear 20s alternate infinite;
  border: 2px solid #ffd53e;
  width: 32px;
  height: 41px;
  -webkit-transform: translate3d(44vw, 1vh, 0) rotate(316deg);
          transform: translate3d(44vw, 1vh, 0) rotate(316deg);
}

@-webkit-keyframes yellow {
  50% {
    -webkit-transform: translate3d(50vw, 75vh, 0);
            transform: translate3d(50vw, 75vh, 0);
  }
  100% {
    -webkit-transform: translate3d(21vw, 51vh, 0);
            transform: translate3d(21vw, 51vh, 0);
  }
}

@keyframes yellow {
  50% {
    -webkit-transform: translate3d(50vw, 75vh, 0);
            transform: translate3d(50vw, 75vh, 0);
  }
  100% {
    -webkit-transform: translate3d(21vw, 51vh, 0);
            transform: translate3d(21vw, 51vh, 0);
  }
}
@-webkit-keyframes yellow-pseudo {
  33% {
    -webkit-transform: translate3d(-24vw, -72vh, 0) rotate(108deg);
            transform: translate3d(-24vw, -72vh, 0) rotate(108deg);
  }
  100% {
    -webkit-transform: translate3d(51vw, -42vh, 0) rotate(144deg);
            transform: translate3d(51vw, -42vh, 0) rotate(144deg);
  }
}
@keyframes yellow-pseudo {
  33% {
    -webkit-transform: translate3d(-24vw, -72vh, 0) rotate(108deg);
            transform: translate3d(-24vw, -72vh, 0) rotate(108deg);
  }
  100% {
    -webkit-transform: translate3d(51vw, -42vh, 0) rotate(144deg);
            transform: translate3d(51vw, -42vh, 0) rotate(144deg);
  }
}
.cyan {
  -webkit-animation: cyan linear 30s alternate infinite;
          animation: cyan linear 30s alternate infinite;
  border: 2px solid #78ffba;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  -webkit-transform: translate3d(80vw, 40vh, 0);
          transform: translate3d(80vw, 40vh, 0);
  z-index: 1;
}

.cyan::before {
  -webkit-animation: cyan-pseudo linear 15s alternate infinite;
          animation: cyan-pseudo linear 15s alternate infinite;
  background: #78ffba;
  border: 2px solid #78ffba;
  width: 22px;
  height: 32px;
  -webkit-transform: translate3d(-41vw, 34vh, 0) rotate(224deg);
          transform: translate3d(-41vw, 34vh, 0) rotate(224deg);
}

.cyan::after {
  -webkit-animation: cyan-pseudo linear 20s alternate infinite;
          animation: cyan-pseudo linear 20s alternate infinite;
  border: 2px solid #78ffba;
  width: 41px;
  height: 6px;
  -webkit-transform: translate3d(13vw, 3vh, 0) rotate(232deg);
          transform: translate3d(13vw, 3vh, 0) rotate(232deg);
}

@-webkit-keyframes cyan {
  50% {
    -webkit-transform: translate3d(61vw, 37vh, 0);
            transform: translate3d(61vw, 37vh, 0);
  }
  100% {
    -webkit-transform: translate3d(75vw, 41vh, 0);
            transform: translate3d(75vw, 41vh, 0);
  }
}

@keyframes cyan {
  50% {
    -webkit-transform: translate3d(61vw, 37vh, 0);
            transform: translate3d(61vw, 37vh, 0);
  }
  100% {
    -webkit-transform: translate3d(75vw, 41vh, 0);
            transform: translate3d(75vw, 41vh, 0);
  }
}
@-webkit-keyframes cyan-pseudo {
  33% {
    -webkit-transform: translate3d(-25vw, 1vh, 0) rotate(173deg);
            transform: translate3d(-25vw, 1vh, 0) rotate(173deg);
  }
  100% {
    -webkit-transform: translate3d(-40vw, -16vh, 0) rotate(125deg);
            transform: translate3d(-40vw, -16vh, 0) rotate(125deg);
  }
}
@keyframes cyan-pseudo {
  33% {
    -webkit-transform: translate3d(-25vw, 1vh, 0) rotate(173deg);
            transform: translate3d(-25vw, 1vh, 0) rotate(173deg);
  }
  100% {
    -webkit-transform: translate3d(-40vw, -16vh, 0) rotate(125deg);
            transform: translate3d(-40vw, -16vh, 0) rotate(125deg);
  }
}
.light-green {
  -webkit-animation: light-green linear 30s alternate infinite;
          animation: light-green linear 30s alternate infinite;
  border: 2px solid #98fd85;
  border-radius: 100%;
  width: 11px;
  height: 11px;
  -webkit-transform: translate3d(56vw, 61vh, 0);
          transform: translate3d(56vw, 61vh, 0);
  z-index: 1;
}

.light-green::before {
  -webkit-animation: light-green-pseudo linear 15s alternate infinite;
          animation: light-green-pseudo linear 15s alternate infinite;
  background: #98fd85;
  border: 2px solid #98fd85;
  width: 37px;
  height: 38px;
  -webkit-transform: translate3d(-53vw, 26vh, 0) rotate(164deg);
          transform: translate3d(-53vw, 26vh, 0) rotate(164deg);
}

.light-green::after {
  -webkit-animation: light-green-pseudo linear 20s alternate infinite;
          animation: light-green-pseudo linear 20s alternate infinite;
  border: 2px solid #98fd85;
  width: 15px;
  height: 14px;
  -webkit-transform: translate3d(-42vw, -4vh, 0) rotate(142deg);
          transform: translate3d(-42vw, -4vh, 0) rotate(142deg);
}

@-webkit-keyframes light-green {
  50% {
    -webkit-transform: translate3d(20vw, 66vh, 0);
            transform: translate3d(20vw, 66vh, 0);
  }
  100% {
    -webkit-transform: translate3d(48vw, 28vh, 0);
            transform: translate3d(48vw, 28vh, 0);
  }
}

@keyframes light-green {
  50% {
    -webkit-transform: translate3d(20vw, 66vh, 0);
            transform: translate3d(20vw, 66vh, 0);
  }
  100% {
    -webkit-transform: translate3d(48vw, 28vh, 0);
            transform: translate3d(48vw, 28vh, 0);
  }
}
@-webkit-keyframes light-green-pseudo {
  33% {
    -webkit-transform: translate3d(2vw, 28vh, 0) rotate(143deg);
            transform: translate3d(2vw, 28vh, 0) rotate(143deg);
  }
  100% {
    -webkit-transform: translate3d(21vw, -21vh, 0) rotate(280deg);
            transform: translate3d(21vw, -21vh, 0) rotate(280deg);
  }
}
@keyframes light-green-pseudo {
  33% {
    -webkit-transform: translate3d(2vw, 28vh, 0) rotate(143deg);
            transform: translate3d(2vw, 28vh, 0) rotate(143deg);
  }
  100% {
    -webkit-transform: translate3d(21vw, -21vh, 0) rotate(280deg);
            transform: translate3d(21vw, -21vh, 0) rotate(280deg);
  }
}
.lime {
  -webkit-animation: lime linear 30s alternate infinite;
          animation: lime linear 30s alternate infinite;
  border: 2px solid #befb46;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  -webkit-transform: translate3d(32vw, 91vh, 0);
          transform: translate3d(32vw, 91vh, 0);
  z-index: 11;
}

.lime::before {
  -webkit-animation: lime-pseudo linear 15s alternate infinite;
          animation: lime-pseudo linear 15s alternate infinite;
  background: #befb46;
  border: 2px solid #befb46;
  width: 31px;
  height: 5px;
  -webkit-transform: translate3d(20vw, -33vh, 0) rotate(282deg);
          transform: translate3d(20vw, -33vh, 0) rotate(282deg);
}

.lime::after {
  -webkit-animation: lime-pseudo linear 20s alternate infinite;
          animation: lime-pseudo linear 20s alternate infinite;
  border: 2px solid #befb46;
  width: 17px;
  height: 13px;
  -webkit-transform: translate3d(40vw, -66vh, 0) rotate(164deg);
          transform: translate3d(40vw, -66vh, 0) rotate(164deg);
}

@-webkit-keyframes lime {
  50% {
    -webkit-transform: translate3d(50vw, 13vh, 0);
            transform: translate3d(50vw, 13vh, 0);
  }
  100% {
    -webkit-transform: translate3d(12vw, 23vh, 0);
            transform: translate3d(12vw, 23vh, 0);
  }
}

@keyframes lime {
  50% {
    -webkit-transform: translate3d(50vw, 13vh, 0);
            transform: translate3d(50vw, 13vh, 0);
  }
  100% {
    -webkit-transform: translate3d(12vw, 23vh, 0);
            transform: translate3d(12vw, 23vh, 0);
  }
}
@-webkit-keyframes lime-pseudo {
  33% {
    -webkit-transform: translate3d(42vw, 69vh, 0) rotate(90deg);
            transform: translate3d(42vw, 69vh, 0) rotate(90deg);
  }
  100% {
    -webkit-transform: translate3d(26vw, 52vh, 0) rotate(109deg);
            transform: translate3d(26vw, 52vh, 0) rotate(109deg);
  }
}
@keyframes lime-pseudo {
  33% {
    -webkit-transform: translate3d(42vw, 69vh, 0) rotate(90deg);
            transform: translate3d(42vw, 69vh, 0) rotate(90deg);
  }
  100% {
    -webkit-transform: translate3d(26vw, 52vh, 0) rotate(109deg);
            transform: translate3d(26vw, 52vh, 0) rotate(109deg);
  }
}
.magenta {
  -webkit-animation: magenta linear 30s alternate infinite;
          animation: magenta linear 30s alternate infinite;
  border: 2px solid #6c046c;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  -webkit-transform: translate3d(37vw, 64vh, 0);
          transform: translate3d(37vw, 64vh, 0);
  z-index: 9;
}

.magenta::before {
  -webkit-animation: magenta-pseudo linear 15s alternate infinite;
          animation: magenta-pseudo linear 15s alternate infinite;
  background: #6c046c;
  border: 2px solid #6c046c;
  width: 23px;
  height: 43px;
  -webkit-transform: translate3d(13vw, 30vh, 0) rotate(26deg);
          transform: translate3d(13vw, 30vh, 0) rotate(26deg);
}

.magenta::after {
  -webkit-animation: magenta-pseudo linear 20s alternate infinite;
          animation: magenta-pseudo linear 20s alternate infinite;
  border: 2px solid #6c046c;
  width: 24px;
  height: 15px;
  -webkit-transform: translate3d(62vw, 15vh, 0) rotate(76deg);
          transform: translate3d(62vw, 15vh, 0) rotate(76deg);
}

@-webkit-keyframes magenta {
  50% {
    -webkit-transform: translate3d(56vw, 74vh, 0);
            transform: translate3d(56vw, 74vh, 0);
  }
  100% {
    -webkit-transform: translate3d(35vw, 25vh, 0);
            transform: translate3d(35vw, 25vh, 0);
  }
}

@keyframes magenta {
  50% {
    -webkit-transform: translate3d(56vw, 74vh, 0);
            transform: translate3d(56vw, 74vh, 0);
  }
  100% {
    -webkit-transform: translate3d(35vw, 25vh, 0);
            transform: translate3d(35vw, 25vh, 0);
  }
}
@-webkit-keyframes magenta-pseudo {
  33% {
    -webkit-transform: translate3d(-20vw, -30vh, 0) rotate(78deg);
            transform: translate3d(-20vw, -30vh, 0) rotate(78deg);
  }
  100% {
    -webkit-transform: translate3d(7vw, 22vh, 0) rotate(138deg);
            transform: translate3d(7vw, 22vh, 0) rotate(138deg);
  }
}
@keyframes magenta-pseudo {
  33% {
    -webkit-transform: translate3d(-20vw, -30vh, 0) rotate(78deg);
            transform: translate3d(-20vw, -30vh, 0) rotate(78deg);
  }
  100% {
    -webkit-transform: translate3d(7vw, 22vh, 0) rotate(138deg);
            transform: translate3d(7vw, 22vh, 0) rotate(138deg);
  }
}
.lightish-red {
  -webkit-animation: lightish-red linear 30s alternate infinite;
          animation: lightish-red linear 30s alternate infinite;
  border: 2px solid #f04c81;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  -webkit-transform: translate3d(74vw, 62vh, 0);
          transform: translate3d(74vw, 62vh, 0);
  z-index: 7;
}

.lightish-red::before {
  -webkit-animation: lightish-red-pseudo linear 15s alternate infinite;
          animation: lightish-red-pseudo linear 15s alternate infinite;
  background: #f04c81;
  border: 2px solid #f04c81;
  width: 13px;
  height: 20px;
  -webkit-transform: translate3d(-33vw, -57vh, 0) rotate(203deg);
          transform: translate3d(-33vw, -57vh, 0) rotate(203deg);
}

.lightish-red::after {
  -webkit-animation: lightish-red-pseudo linear 20s alternate infinite;
          animation: lightish-red-pseudo linear 20s alternate infinite;
  border: 2px solid #f04c81;
  width: 36px;
  height: 25px;
  -webkit-transform: translate3d(24vw, 31vh, 0) rotate(262deg);
          transform: translate3d(24vw, 31vh, 0) rotate(262deg);
}

@-webkit-keyframes lightish-red {
  50% {
    -webkit-transform: translate3d(54vw, 11vh, 0);
            transform: translate3d(54vw, 11vh, 0);
  }
  100% {
    -webkit-transform: translate3d(19vw, 80vh, 0);
            transform: translate3d(19vw, 80vh, 0);
  }
}

@keyframes lightish-red {
  50% {
    -webkit-transform: translate3d(54vw, 11vh, 0);
            transform: translate3d(54vw, 11vh, 0);
  }
  100% {
    -webkit-transform: translate3d(19vw, 80vh, 0);
            transform: translate3d(19vw, 80vh, 0);
  }
}
@-webkit-keyframes lightish-red-pseudo {
  33% {
    -webkit-transform: translate3d(8vw, 59vh, 0) rotate(14deg);
            transform: translate3d(8vw, 59vh, 0) rotate(14deg);
  }
  100% {
    -webkit-transform: translate3d(51vw, -75vh, 0) rotate(137deg);
            transform: translate3d(51vw, -75vh, 0) rotate(137deg);
  }
}
@keyframes lightish-red-pseudo {
  33% {
    -webkit-transform: translate3d(8vw, 59vh, 0) rotate(14deg);
            transform: translate3d(8vw, 59vh, 0) rotate(14deg);
  }
  100% {
    -webkit-transform: translate3d(51vw, -75vh, 0) rotate(137deg);
            transform: translate3d(51vw, -75vh, 0) rotate(137deg);
  }
}
.pink {
  -webkit-animation: pink linear 30s alternate infinite;
          animation: pink linear 30s alternate infinite;
  border: 2px solid #ff4293;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  -webkit-transform: translate3d(81vw, 59vh, 0);
          transform: translate3d(81vw, 59vh, 0);
  z-index: 9;
}

.pink::before {
  -webkit-animation: pink-pseudo linear 15s alternate infinite;
          animation: pink-pseudo linear 15s alternate infinite;
  background: #ff4293;
  border: 2px solid #ff4293;
  width: 33px;
  height: 20px;
  -webkit-transform: translate3d(-58vw, 28vh, 0) rotate(180deg);
          transform: translate3d(-58vw, 28vh, 0) rotate(180deg);
}

.pink::after {
  -webkit-animation: pink-pseudo linear 20s alternate infinite;
          animation: pink-pseudo linear 20s alternate infinite;
  border: 2px solid #ff4293;
  width: 27px;
  height: 49px;
  -webkit-transform: translate3d(11vw, 12vh, 0) rotate(28deg);
          transform: translate3d(11vw, 12vh, 0) rotate(28deg);
}

@-webkit-keyframes pink {
  50% {
    -webkit-transform: translate3d(56vw, 36vh, 0);
            transform: translate3d(56vw, 36vh, 0);
  }
  100% {
    -webkit-transform: translate3d(11vw, 50vh, 0);
            transform: translate3d(11vw, 50vh, 0);
  }
}

@keyframes pink {
  50% {
    -webkit-transform: translate3d(56vw, 36vh, 0);
            transform: translate3d(56vw, 36vh, 0);
  }
  100% {
    -webkit-transform: translate3d(11vw, 50vh, 0);
            transform: translate3d(11vw, 50vh, 0);
  }
}
@-webkit-keyframes pink-pseudo {
  33% {
    -webkit-transform: translate3d(-1vw, 13vh, 0) rotate(312deg);
            transform: translate3d(-1vw, 13vh, 0) rotate(312deg);
  }
  100% {
    -webkit-transform: translate3d(49vw, 36vh, 0) rotate(70deg);
            transform: translate3d(49vw, 36vh, 0) rotate(70deg);
  }
}
@keyframes pink-pseudo {
  33% {
    -webkit-transform: translate3d(-1vw, 13vh, 0) rotate(312deg);
            transform: translate3d(-1vw, 13vh, 0) rotate(312deg);
  }
  100% {
    -webkit-transform: translate3d(49vw, 36vh, 0) rotate(70deg);
            transform: translate3d(49vw, 36vh, 0) rotate(70deg);
  }
}
