.auto-height{
    padding-left: 5%; 
}
@media (min-width: 1000px) {
    .auto-height{
        min-height: 400px;
        max-height: 500px;
    }
}

@media (min-width: 400px) {
    .auto-height{
        min-height: 450px;
        max-height: 500px;
    }
}

@media (max-width: 400px) {
    .auto-height{
        min-height: 350px;
    }
}