@import "https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i";
* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  color: #acaabe;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3b3d54;
  font-size: 14px;
  overflow: hidden;
}

.wrap {
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.page {
  margin: 3%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 3px;
  text-align: center;
  font-size: 1.4vw;
}
.page h2 {
  font-weight: bold;
  font-size: 6.5vw;
  font-weight: 900;
  font-style: italic;
  color: #dad8ec;
}

.svg {
  stroke: #7ceaa4;
  position: absolute;
  bottom: -100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.svg:nth-child(1) {
  left: 6%;
  -webkit-animation: raise1 10s linear infinite;
          animation: raise1 10s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(-0.3) rotate(180deg);
          transform: scale(-0.3) rotate(180deg);
  z-index: -6;
  -webkit-filter: blur(-5px);
          filter: blur(-5px);
}
@-webkit-keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(268deg);
            transform: scale(-0.3) rotate(268deg);
  }
}
@keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(268deg);
            transform: scale(-0.3) rotate(268deg);
  }
}
.svg:nth-child(2) {
  left: -3%;
  -webkit-animation: raise2 11s linear infinite;
          animation: raise2 11s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(0) rotate(286deg);
          transform: scale(0) rotate(286deg);
  z-index: -5;
  -webkit-filter: blur(-4px);
          filter: blur(-4px);
}
@-webkit-keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(332deg);
            transform: scale(0) rotate(332deg);
  }
}
@keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(332deg);
            transform: scale(0) rotate(332deg);
  }
}
.svg:nth-child(3) {
  left: 76%;
  -webkit-animation: raise3 20s linear infinite;
          animation: raise3 20s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(0.3) rotate(173deg);
          transform: scale(0.3) rotate(173deg);
  z-index: -4;
  -webkit-filter: blur(-3px);
          filter: blur(-3px);
}
@-webkit-keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(49deg);
            transform: scale(0.3) rotate(49deg);
  }
}
@keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(49deg);
            transform: scale(0.3) rotate(49deg);
  }
}
.svg:nth-child(4) {
  left: -14%;
  -webkit-animation: raise4 14s linear infinite;
          animation: raise4 14s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(0.6) rotate(195deg);
          transform: scale(0.6) rotate(195deg);
  z-index: -3;
  -webkit-filter: blur(-2px);
          filter: blur(-2px);
}
@-webkit-keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(283deg);
            transform: scale(0.6) rotate(283deg);
  }
}
@keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(283deg);
            transform: scale(0.6) rotate(283deg);
  }
}
.svg:nth-child(5) {
  left: 39%;
  -webkit-animation: raise5 10s linear infinite;
          animation: raise5 10s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(0.9) rotate(80deg);
          transform: scale(0.9) rotate(80deg);
  z-index: -2;
  -webkit-filter: blur(-1px);
          filter: blur(-1px);
}
@-webkit-keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(1deg);
            transform: scale(0.9) rotate(1deg);
  }
}
@keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(1deg);
            transform: scale(0.9) rotate(1deg);
  }
}
.svg:nth-child(6) {
  left: 72%;
  -webkit-animation: raise6 17s linear infinite;
          animation: raise6 17s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(1.2) rotate(27deg);
          transform: scale(1.2) rotate(27deg);
  z-index: -1;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}
@-webkit-keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(99deg);
            transform: scale(1.2) rotate(99deg);
  }
}
@keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(99deg);
            transform: scale(1.2) rotate(99deg);
  }
}
.svg:nth-child(7) {
  left: 23%;
  -webkit-animation: raise7 14s linear infinite;
          animation: raise7 14s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(1.5) rotate(58deg);
          transform: scale(1.5) rotate(58deg);
  z-index: 0;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
@-webkit-keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(13deg);
            transform: scale(1.5) rotate(13deg);
  }
}
@keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(13deg);
            transform: scale(1.5) rotate(13deg);
  }
}
.svg:nth-child(8) {
  left: 49%;
  -webkit-animation: raise8 21s linear infinite;
          animation: raise8 21s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(1.8) rotate(104deg);
          transform: scale(1.8) rotate(104deg);
  z-index: 1;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}
@-webkit-keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(242deg);
            transform: scale(1.8) rotate(242deg);
  }
}
@keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(242deg);
            transform: scale(1.8) rotate(242deg);
  }
}
.svg:nth-child(9) {
  left: 90%;
  -webkit-animation: raise9 9s linear infinite;
          animation: raise9 9s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: scale(2.1) rotate(71deg);
          transform: scale(2.1) rotate(71deg);
  z-index: 2;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}
@-webkit-keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(143deg);
            transform: scale(2.1) rotate(143deg);
  }
}
@keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(143deg);
            transform: scale(2.1) rotate(143deg);
  }
}
.svg:nth-child(10) {
  left: 71%;
  -webkit-animation: raise10 18s linear infinite;
          animation: raise10 18s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: scale(2.4) rotate(353deg);
          transform: scale(2.4) rotate(353deg);
  z-index: 3;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}
@-webkit-keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(319deg);
            transform: scale(2.4) rotate(319deg);
  }
}
@keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(319deg);
            transform: scale(2.4) rotate(319deg);
  }
}
