.listing2 {
  font-size: 2rem;
  font-family: 'Hestia-Regular', sans-serif !important;
  color: white;
}

.listing3 {
  font-family: 'Hestia-Regular', sans-serif !important;
  color: white;
}

body {
  background: url('../assets/img/about_us_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.back_btn {
  left: 10px;
}

@media screen and (min-width: 767px) {
  .hid-block {
    overflow: hidden;
  }

  .back_btn {
    left: 40px;
  }
}

.hid-block {
  overflow: none;
}

.row-fluid {
  /* display: block; */
}

.text-al {
  text-align: center;
  padding: 20px;
  /* margin-bottom: 100px; */
}

.c1 {
  display: block;
  text-align: center;
}

.inline {
  display: inline-block;
}